/* Search Faculty Section */
#search-faculty {
    background-color: grey;
    padding: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#search-term {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

#search-button {
    all: unset;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #0056b3;
}

/* Faculties Table Section */
#faculties-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#faculties-table th, #faculties-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#faculties-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#faculties-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#faculties-table tr:hover {
    background-color: greenyellow;
}

.edit-button, .delete-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #FF0000;
}

.delete-button:hover {
    background-color: #cc0000;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#add-faculty-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-faculty-form input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-faculty-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#add-faculty-form button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.form-container form {
    margin: 4% 0;
}

#faculties-container{
    margin-left: 5em;
    margin-right: 5em;
    background-color: lightgray;
}

#faculties-table th {
    background-color: teal;
    font-weight: bold;
}
